<div class="container col-lg-10 my-4" id="<%= dom_id profile %>" >
  <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-body">
          <div class="card-title text-center">
                 <%= render "image", image_profile: profile.image %>
              </div>
              <h4 class="text-center text-pink"><%= profile.name_profile %></h4>
          </div>
          <div class="text-center my-2 text-primary-emphasis">
              
              <strong> <%= Profile.human_attribute_name(:gender) %>:</strong> <%= profile.gender %> <br>
              <strong>Email:</strong>  <%= profile.user.email %> <br>
              <strong><%= Profile.human_attribute_name(:profile_type) %>:</strong> <%= profile.profile_type   %> <br>
              <strong><%= Address.model_name.human(count: 1) %>: </strong> 
                <%= profile.address.street %>, 
                <%= profile.address.city.city_name %>,  
                <%= profile.address.city.province.province_name %>
                <br>

              <strong><%= Profile.human_attribute_name(:whatsapp) %>: <%= profile.whatsapp %>
              <strong><%= Profile.human_attribute_name(:telephone) %>: <%= profile.telephone %>
        
          </div>
          <div class="mb-3 d-grid gap-2">
              <%= link_to t("links.edit"), edit_profile_path(profile), class: "btn btn-info" %> 
          </div>
        </div>
    </div>
  </div>
</div>
