



<main class="container col-lg-6 my-4">
    <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-body">
          <div class="card-title">
              <h4 class="text-center text-pink">
                <%= t("devise.title.actions.resend-confirmation-instructions") %>
              </h4>
          </div>
            <%= render "devise/shared/links" %>
            <%= bootstrap_form_for(resource, as: resource_name, 
            url: confirmation_path(resource_name), data: { turbo: false }, html: { method: :post }) do |f| %>
          
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", label: :email,
                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
              </div>

              <div class="d-grid gap-2 actions">
                <%= f.submit t("devise.title.actions.resend-confirmation-instructions"), 
                class:"btn btn-info" %>
              </div>
            <% end %>
        </div>
    </div>
</main>
