<div id="<%= dom_id cart_saved %>">
  <p>
    <strong>Quantity:</strong>
    <%= cart_saved.quantity %>
  </p>

  <p>
    <strong>Abandoned:</strong>
    <%= cart_saved.abandoned %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= cart_saved.item_id %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= cart_saved.profile_id %>
  </p>

</div>
