<%= form_with(model: invoice_historic) do |form| %>
  <% if invoice_historic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(invoice_historic.errors.count, "error") %> prohibited this invoice_historic from being saved:</h2>

      <ul>
        <% invoice_historic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cliente_name, style: "display: block" %>
    <%= form.text_field :cliente_name %>
  </div>

  <div>
    <%= form.label :total, style: "display: block" %>
    <%= form.text_field :total %>
  </div>

  <div>
    <%= form.label :sub_total, style: "display: block" %>
    <%= form.text_field :sub_total %>
  </div>

  <div>
    <%= form.label :value_delivered_customer, style: "display: block" %>
    <%= form.text_field :value_delivered_customer %>
  </div>

  <div>
    <%= form.label :customer_change, style: "display: block" %>
    <%= form.text_field :customer_change %>
  </div>

  <div>
    <%= form.label :payment_method, style: "display: block" %>
    <%= form.text_field :payment_method %>
  </div>

  <div>
    <%= form.label :profile_id, style: "display: block" %>
    <%= form.text_field :profile_id %>
  </div>

  <div>
    <%= form.label :cart_historic_id, style: "display: block" %>
    <%= form.text_field :cart_historic_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
