<div id="<%= dom_id invoice_historic %>">
  <p>
    <strong>Cliente name:</strong>
    <%= invoice_historic.cliente_name %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= invoice_historic.total %>
  </p>

  <p>
    <strong>Sub total:</strong>
    <%= invoice_historic.sub_total %>
  </p>

  <p>
    <strong>Value delivered customer:</strong>
    <%= invoice_historic.value_delivered_customer %>
  </p>

  <p>
    <strong>Customer change:</strong>
    <%= invoice_historic.customer_change %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= invoice_historic.payment_method %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= invoice_historic.profile_id %>
  </p>

  <p>
    <strong>Cart historic:</strong>
    <%= invoice_historic.cart_historic_id %>
  </p>

</div>
