  <tr>
    <div id="<%= dom_id invoice_historic %>">
      <th scope="row"><%= invoice_historic.cart_historic.code_cart %></th>
      <td scope="col"><%= invoice_historic.cliente_name %></td>
      <td scope="col"><%= invoice_historic.cart_historic.item.description %></td>
      <td scope="col"><%= invoice_historic.cart_historic.quantity %></td>
      <td scope="col"><%= invoice_historic.cart_historic.item.price %></td>
      <td scope="col"><%= invoice_historic.cart_historic.item.price * invoice_historic.cart_historic.quantity %></td>
      <td scope="col"><%= invoice_historic.cart_historic.item.price + invoice_historic.cart_historic.item.profite_value%></td>
      <td scope="col"><%= invoice_historic.cart_historic.item.profite_value %></td>
      <td>
        <%= button_to "Delete", invoice_historic, method: :delete, class:"btn btn-danger" %>
      </td>
    </div>
  </tr>
