  <tr>
    <div id="<%= dom_id invoice_historic %>">
      <th scope="row"><%= invoice_historic.cart_historic.code_cart %></th>
      <td scope="col"><%= invoice_historic.cliente_name %></td>
      <td scope="col"><%= invoice_historic.profile.name_profile %></td>
      <td scope="col"><%= invoice_historic.cart_historic.item.description %></td>
      <td>
         <%= link_to "Show", invoice_historic, class: "btn btn-info" %>
      </td>
      <td>
        <%= button_to "Delete", invoice_historic, method: :delete, class:"btn btn-danger",
        form:{ data: { turbo_confirm: "Tens a certeza que pretendes eliminar este sector?"} }  %>
      </td>
    </div>
  </tr>
