
 <div class="container col-lg-6 my-4">
    <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-body">
                    
          <%= bootstrap_form_with(model: sector) do |form| %>
            <% if sector.errors.any? %>
              <div style="color: red">
                <h2><%= pluralize(sector.errors.count, "error") %> prohibited this sector from being saved:</h2>

                <ul>
                  <% sector.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

              <%= form.text_field :name_sector %>

            <div class="mb-3 d-grid gap-2">
              <%= form.submit class: "btn btn-info" %>
            </div>
          <% end %>
    </div>
  </div>
</div>