
  <div class="col" id="<%= dom_id plans_selected %>">

    <th scope="row"> <%= plans_selected.id %></th>
      <td><%= plans_selected.user.profile.name_profile %></td>
      <td><%= plans_selected.user.email %></td>
      <td><%= plans_selected.plan.name_plans%></td>
      <td><%= plans_selected.duration %></td>
      <td><%= plans_selected.plan.price %></td>
      <td><%= plans_selected.day_used %></td>

      <% if plans_selected.activated  %>
        <td class="text-success"><%= plans_selected.activated %></td>
      <% else %>
        <td class="text-danger"><%= plans_selected.activated %></td>
      <% end %>
      

      <% if plans_selected.first_time  %>
        <td class="text-success"><%= plans_selected.first_time %></td>
      <% else %>
        <td class="text-danger"><%= plans_selected.first_time %></td>
      <% end %>
      <td><%= button_to "Destroy", plans_selected, method: :delete, 
       data: { confirm: "Está ação irá eliminar este plano selecionado. Deseja continuar?", 
             turbo_confirm: "Está ação irá eliminar este plano selecionado. Deseja continuar?" }, 
             class:"btn btn-danger"%></td>

      <% if current_user.profile.super_adminstrador? %>
        <td><%= link_to "Edit", edit_plans_selected_path(plans_selected), class:"btn btn-info"%></td>
        
        <% if !plans_selected.activated %>
          <td>
            <%= bootstrap_form_with(model: plans_selected) do |form| %>
              <% if plans_selected.errors.any? %>
                <div style="color: red">
                  <h2><%= pluralize(plans_selected.errors.count, "error") %> prohibited this plans_selected from being saved:</h2>

                  <ul>
                    <% plans_selected.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
                <%= form.hidden_field :duration, value: plans_selected.duration%>
                <%= form.hidden_field :first_time, value: false %>
                <%= form.hidden_field :plan_id, value: plans_selected.plan_id  %> 
                <%= form.hidden_field :day_used, value: 0 %>
                <%= form.hidden_field :activated, value: !plans_selected.activated %>

              <div>
                <%= form.submit "#{ plans_selected.activated ? "Desativate": "Activate" }", class:"btn btn-info" %>
              </div>

            <% end %>
          </td>
          <% end %>
      <% end %>


</div>
 