  <tr>
    <div id="<%= dom_id invoice_temp %>">
      <td scope="col"><%= invoice_temp.cart_historic.item.description %></td>
      <td scope="col"><%= invoice_temp.cart_historic.quantity %></td>
       <td scope="col"><%= invoice_temp.cart_historic.item.price %></td>
        <td scope="col">14%</td>
      <td scope="col"><%= invoice_temp.cart_historic.item.price * invoice_temp.cart_historic.quantity %></td>
    </div>
  </tr>