
  <section>
      <h5 class="fs-3 text-center"> 
        <%= link_to "Invoice temps", 
        new_sale_cart_temps_path %> 
      </h5>

        <div class="row">
          <div class="col">
            <strong>Empresa:</strong> <%= @profile.company.name %> <br/>
            <strong>Whatsapp:</strong> <%= @profile.company.whatsapp %> <br/>
            <strong>Email:</strong> <%= @profile.company.email %> <br/>
            <strong>NIF:</strong> <%= @profile.company.nif %> <br/>
          </div>
          <div class="col">
          <div class="card-title text-center">
             <%= render "image", image_company:  @profile.company.image %>
          </div>
            <p class="text-center">

              <%= @profile.company.name %> <br/>
              A sua empresa com excelencia
         
            </p>
          </div>
          <div class="col">
            <strong>Data:</strong>
            <%= @invoice_temps.first.created_at.strftime("%B %d %Y, %H:%M:%S")%> <br/>
            <strong>Código Fatura:</strong> 
            <%= @invoice_temps.first.cart_historic.code_cart %> <br/>
            <strong>Cliente name:</strong>
            <%= @invoice_temps.first.cliente_name %> <br/>
            <strong>Payment method:</strong>
            <%= @invoice_temps.first.payment_method %> <br/>
            <strong>Atendente:</strong>
            <%= @invoice_temps.first.profile.name_profile %>
          </div>
        </div>
    <br/>

    <button onclick="printPage()", class="btn btn-light print">Print</button>

    <script>
      function printPage() {
          window.print();
      }
    </script>

    <table class="table table-hover shadow-sm">
        <thead>
          <tr>
            <th scope="col">Descrição</th>
            <th scope="col">Quantidade</th>
            <th scope="col">P.Unitário</th>
            <th scope="col">IVA</th>
            <th scope="col">Sub.Total</th>
          </tr>
        </thead>
        <tbody>

          <div id="invoice_temps">
            <% @invoice_temps.each do |invoice_temp| %>
              <%= render invoice_temp %>
            <% end %>
          </div>

          </div>
        </tbody>
      </table>

      <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col-sm-4 fs-4">
            <strong>Total:</strong> <%= @invoice_temps.first.total %> <br/>
            <strong>Valor entregue:</strong>  <%= @invoice_temps.first.value_delivered_customer %> <br/>
            <strong class="text-success">Troco:</strong> <%= @invoice_temps.first.customer_change %><br/>
        </div>
      </div>

    <%= link_to "Imprimir Fatura", invoice_temps_path(format: :pdf),  class: "btn btn-success pdf-link"%>

  </section>

  <!-- Fim Itens index-->


