
 <div class="container col-lg-10 my-4">
    <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-body">

          <%= bootstrap_form_with(model: item) do |form| %>
            <% if item.errors.any? %>
              <div style="color: red">
                <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

                <ul>
                  <% item.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
              
              <%= form.text_field :description %>
              <%= form.date_field :manufacturing_date %>
              <%= form.date_field :expiration_date %>
              <%= form.number_field :quantity %>
              <span class="text-success">price = price + (price * 0.14)</span>  
              <%= form.number_field :price %>
              <%= form.number_field :profite_value %>
              <%= form.text_field :item_code %>
              <%= form.collection_select :supplier_id, Supplier.order(:name_supplier), :id, :name_supplier, 
              { label: Supplier.model_name.human(count: 1) }, 
              {class:"text-light-emphasis"} %> 
                <%= form.collection_select :category_id, Category.order(:name_category), :id, :name_category, 
              { label: Category.model_name.human(count: 1) }, 
              {class:"text-light-emphasis"} %> 

              <%= form.collection_select :sector_id, Sector.order(:name_sector), :id, :name_sector, 
              { label: Sector.model_name.human(count: 1) }, 
              {class:"text-light-emphasis"} %> 
             

              <div class="mb-3 d-grid gap-2">
                <%= form.submit class: "btn btn-info" %>
              </div>
          <% end %>

        </div>
      </div>
  </div>
