
<div id="<%= dom_id item %>">
    <th scope="row"><%= item.item_code %></th>
    <td scope="col"><%= item.description %></td>
    <td scope="col"><%= item.quantity %></td>
    <td scope="col">14%</td>
    <td scope="col"><%= item.price %></td>
    <td scope="col"><%= item.category.name_category %></td>
    <td scope="col"><%= item.sector.name_sector %></td>
    <td scope="col">V.Pagar</td>
    <td scope="col"><%= item.profite_value %></td>
    <td scope="col"><%= item.profile.name_profile %></td>
    <td scope="col"><%= item.supplier.name_supplier %></td>
    <td scope="col"><%= item.created_at %></td>
    <td scope="col"><%= item.manufacturing_date %></td>
    <td scope="col"><%= item.expiration_date %></td>
    <td>
      <%= button_to "Destroy", item, method: :delete, class:"btn btn-danger btn-sm" %>
    </td>
    <td>
      <%= link_to "Edit", edit_item_path(item), class:"btn btn-success btn-sm" %>
    </td>
</div>
