<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
<% end %>

<p>
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
</p>

<p>Olá <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos entrando em contato com você para notificá-lo de que seu e-mail será alterado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos entrando em contato com você para notificá-lo de que seu e-mail foi alterado para <%= @resource.email %>.</p>
<% end %>